<section class="block block--dark block--skewed--right">
    <header class="block__header">
      <h2>User - Friendly Control Panel</h2>
    </header>
    <div class="grid grid--cols2 feature">
      <img class="feature-img" src="/images/ipad.png" alt="" />
      <div class="feature__showcase">
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#snap"></use>
          </svg>
          <h3 class="feature__heading">Easy Start and Managed Update</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          earum officiis voluptas voluptatibus nulla eligendi numquam qui
          voluptate dicta sit.
        </p>
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#growth"></use>
          </svg>
          <h3 class="feature__heading">Staging, Git & WP-CLI</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          earum officiis voluptas voluptatibus nulla eligendi numquam qui
          voluptate dicta sit.
        </p>
          <svg class="icon icon--primary">
            <use xlink:href="images/sprite.svg#wordpress"></use>
          </svg>
          <h3 class="feature__heading">Dynamic Coaching and More</h3>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo
          earum officiis voluptas voluptatibus nulla eligendi numquam qui
          voluptate dicta sit.
        </p>
    </div>
  </section>