<section class="block container--block">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
      beatae?
    </p>
  </header>
</section>

<section class="block block--dark block--skewed--left">
  <div class="container--block">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Explicabo,
      beatae?
    </p>
  </div>
</section>
