<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis,
      voluptatum.
    </p>
  </header>
  <article class="grid grid--cols2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#easy"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Super easy to use</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum
        officiis voluptas voluptatibus nulla eligendi numquam qui voluptate
        dicta sit.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature-img" src="/images/easy.jpg" alt="" />
  </article>
  <article class="grid grid--cols2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#computer"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Simply Fast Websites</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum
        officiis voluptas voluptatibus nulla eligendi numquam qui voluptate
        dicta sit.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature-img" src="/images/fast.jpg" alt="" />
  </article>
  <article class="grid grid--cols2 feature">
    <div class="feature__content">
      <span class="icon-container">
        <svg class="icon icon--primary">
          <use xlink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </span>
      <h3 class="feature__heading">Wordpress Made Easy</h3>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo earum
        officiis voluptas voluptatibus nulla eligendi numquam qui voluptate
        dicta sit.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="feature-img" src="/images/wordpress.jpg" alt="" />
  </article>
</section>
