:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
}

/* Typography*/
html {
  font-size: 62.5%;
}
body {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  line-height: 1.5;
  background-color: rgb(235, 221, 221);
  margin: 20px;
  color: var(--color-body);
  position: absolute;
}

h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}

h1 {
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3rem;
}

p {
  margin-top: 0;
}

@media screen and (mon-width: 1024px) {
  h1 {
    font-size: 8rem;
  }

  h2 {
    font-size: 4rem;
  }

  h3 {
    font-size: 2.4rem;
  }
}

a {
  text-decoration: none;
}
/*Links*/
.link-arrow {
  color: var(--color-accent);
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: bold;
}

.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}

.link-arrow:hover::after {
  margin-left: 10px;
}

@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  border-radius: 20px;
  font-size: 2rem;
  font-weight: 600;
  padding: 0.5rem 2rem;
  white-space: nowrap;
}

.badge--primary {
  background: var(--color-primary);
  color: #fff;
}

.badge--secondary {
  background: var(--color-secondary);
  color: #fff;
}

.badge--small {
  font-size: 1.6rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }

  .badge--small {
    font-size: 1.2rem;
  }
}

/* List */
.list {
  list-style: none;
  padding: 0;
  color: var(--color-heading);
}

.list--inline .list__item {
  display: inline-block;
  margin-right: 2rem;
}

.list--tick {
  list-style-image: url(../images/tick.svg);
  padding-left: 3rem;
  margin-bottom: 1rem;
}

.list--tick .list__item {
  padding-left: 0.5rem;
}

@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}
/*ul,
li {
  position: relative;
  left: 20rem;
  top: 1rem;
  font-size: 16px;
  list-style-type: none;
  display: inline;
  margin-left: 20px;
}

img {
  float: left;
}

.floatclear::after {
  content: "";
  display: block;
  clear: both;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.colOne {
  width: 60rem;
  height: fit-content;
}

.colTwo {
  width: 60rem;
  height: fit-content;
}

h1 {
  position: relative;
  top: 15rem;
  left: 1rem;
  font-size: 60px;
}

p {
  position: relative;
  top: 15rem;
  left: 1rem;
  font-size: 24px;
}

.button {
  position: relative;
  top: 15rem;
  left: 1rem;
  width: 350px;
  height: 30px;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding-top: 15px;
  background-color: rgb(230, 67, 8);
  border-radius: 20px;
}

.hosting {
  height: 500px;
}

@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}*/
